body {
  font-size: 22px;
  font-family: "Amble_light" , Helvetica , sans-serif;
  color: #222;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}

p {
  line-height: 1.2;
  text-align: center;
}

/* ----- HEADER START -----*/
.bg {
  max-width: 1600px;
  margin: 0 auto;
}

#header {
  height: 900px;
  background: url(../img/Gradient-overlay.jpg) no-repeat;
}

.header__h1 {
  font-family: "Big_John";
  font-size: 48px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-top: 235px;
}

.arrow-white {
  width: 86px;
  height: 2px;
  background-color: #fff;
  margin: 50px auto;
}

.header__text {
  color: #fffefe;
  font-weight: 400;
  text-align: center;
}

.block-name {
  font-family: "Big_John";
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  padding-top: 90px;
  text-transform: uppercase;
}

.arrow-black {
  width: 86px;
  height: 2px;
  background-color: #222;
  margin: 75px auto;
}

/* ----- INTRODUCTION START -----*/
.introduction__text {
  text-align: center;
  line-height: 0.8;
  padding-bottom: 120px;
}

.repeat-block {
  position: relative;
  max-width: 1600px;
  height: 500px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.creativity {
  background-image: url(../img/repeat-block_set.jpg);
}

.btn a {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 100px;
  border: 3px solid #fff;
  margin-top: 200px;
  text-decoration: none;
}

/* ----- WORK START -----*/
.work__sort ul {
  text-align: center;
}

.work__sort li {
  display: inline-block;
  list-style-type: none;
  margin-right: 35px;
}

.work__sort li:last-child {
  margin-right: 0;
}

.work__sort a {
  font-size: 18px;
  font-family: "Slim_Joe";
  text-decoration: none;
  text-transform: uppercase;
}

.work__sort a.active {
  font-family: "Big_John";
  color: #222;
}

.work_group-item {
  margin-top: 25px;
}

.work__item img {
  max-width: 100%;
  margin-bottom: 20px;
  opacity: 0.6;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.work__item img:hover {
  opacity: 1;
}

.arrow-orange {
  width: 48px;
  height: 2px;
  background-color: #d87843;
  margin: 0 auto;
}

.btn-black {
  margin: 60px 0 80px;
}

.btn-black a {
  display: block;
  font-family: "Amble_bold";
  font-size: 24px;
  color: #222;
  border: 3px solid #222;
  line-height: 60px;
  text-align: center;
}

.help {
  background-image: url(../img/repeat-block_set.jpg);
  background-position: 0 -600px;
}

/* ----- CLIENTS START -----*/
.clients {
  background-color: #f4f4f4;
}

.clients__item {
  padding-bottom: 130px;
}

.clients__item li {
  width: 20%;
  float: left;
}

.clients__item img {
  max-width: 100%;
}

/* ----- ABOUT-US START -----*/
.about-us__item {
  margin: 65px 0 80px;
}

.about-us__item img {
  max-width: 100%;
  opacity: 0.6;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.about-us__item img:hover {
  opacity: 1;
  max-width: 100%;
}

.about-us__item-text {
  width: 130px;
  margin: 0 auto;
  font-size: 24px;
  font-family: "Big_John";
  text-align: center;
  margin-top: 45px;
}

.play {
  background-image: url(../img/repeat-block_set.jpg);
  background-position: 0 -1200px;
}

.play a {
  width: 64px;
  height: 64px;
  background-image: url(../img/play.png);
  display: inline-block;
  text-align: center;
}

.play-button {
  text-align: center;
  margin-top: 218px;
}

/* -----CHOOSE-US START -----*/
.choose-us__item {
  text-align: center;
  font-family: "Amble_regular";
  margin-top: 100px;
  margin-bottom: 60px;
}

.choose-us__item-title {
  font-size: 24px;
  padding-top: 20px;
}

p.choose-us__item-text {
  font-size: 16px;
  line-height: 1.8;
  padding: 0 10px;
}

.quote {
  background-image: url(../img/repeat-block_set.jpg);
  background-position: 0 -1800px;
}

/* -----CONTACT START -----*/
.address p.address-title {
  font-size: 24px;
  font-family: "Big_John";
  font-style: normal;
  margin-top: 120px;
}

.address p {
  font-style: italic;
  line-height: 1;
  text-align: left;
}

.address-text {
  padding-top: 20px;
}

#contact {
  background-color: #f2f2f2;
  min-height: 380px;
  padding-bottom: 120px;
}

.form {
  padding-top: 100px;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid #afafaf;
  background: none;
  font-size: 18px;
  font-family: "Amble_regular";
  font-style: italic;
  padding-left: 20px;
  width: 100%;
  line-height: 48px;
  color: #676767;
}

.form-message {
  padding: 0 10px;
  margin-top: 90px;
}

.form__btn {
  float: right;
}

.form__btn input[type="submit"] {
  border: 2px solid #222;
  width: 180px;
  height: 60px;
  font-size: 24px;
  font-family: "Amble_bold";
  margin-top: 40px;
  margin-right: 15px;
  background: none;
}

/* -----FOOTER START -----*/
.footer {
  background-color: #222;
}

.footer__author {
  margin-top: -30px;
  text-align: center;
  font-size: 20px;
  line-height: 0.4;
  padding-top: 55px;
  font-style: italic;
  color: #fff;
  padding-bottom: 10px;
}

/* -----SLIDER CUSTOMIZE -----*/
.slide .carousel-indicators li {
  width: 12px;
  height: 12px;
  background-color: #d5d5d5;
  margin: 0;
  border: none;
}

.carousel-indicators li.active {
  width: 12px;
  height: 12px;
  background-color: #f3793d;
  margin: 0;
}

/* ----- NAVIGATION CUSTOMIZE -----*/
.nav.navbar-nav li {
  padding-bottom: 5px;
}

.nav.navbar-nav li a {
  color: #fff;
  font-family: "Amble_regular";
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 20px;
  text-decoration: none;
}

/* -----BACK-TOP BUTTON -----*/
.back-top {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 20px;
  left: auto;
  z-index: 999;
  width: 50px;
  height: 50px;
  background: url(../img/backtotop.png);
}
