/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens  */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .about-us__item-text {
    margin-top: 75px;
  }
  .about-us__item {
    text-align: center;
  }
  .about-us__item img {
    margin-bottom: 25px;
  }
  .address p {
    text-align: center;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .work__sort li {
    display: block;
  }
  .about-us__item {
    text-align: center;
  }
  .about-us__item img {
    margin-bottom: 25px;
  }
  .address p {
    text-align: center;
  }
  .header__h1 {
    margin-top: 55px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  body {
    font-size: 18px;
    line-height: 1.4;
  }
  .header__h1 {
    margin-top: 40px;
    font-size: 40px;
  }
  #header {
    height: 100%;
  }
  .header__text {
    padding: 10px 0 20px;
  }
  .introduction__text {
    line-height: 1.2;
    padding-bottom: 60px;
  }
  .block-name {
    font-size: 28px;
    padding-top: 50px;
  }
  .arrow-white {
    margin: 45px auto;
  }
  .arrow-black {
    margin: 45px auto;
  }
  .work__sort li {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .work__sort li:last-child {
    margin-bottom: 20px;
  }
  .clients__item li {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
  }
  .about-us__item {
    text-align: center;
  }
  .about-us__item img {
    margin-bottom: 25px;
  }
  .choose-us__item {
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .choose-us__item-title {
    padding-top: 0;
  }
  p.choose-us__item-text {
    margin-top: -15px;
  }
  input[type="text"] {
    margin-bottom: 45px;
  }
  .form__btn {
    text-align: center;
    float: none;
  }
  .form-message {
    padding: 0 10px;
    margin-top: 30px;
  }
  .form {
    padding-top: 70px;
  }
  .address p {
    text-align: center;
  }
  .btn a {
    font-size: 26px;
  }
  .nav.navbar-nav li {
    padding-bottom: 5px;
  }
  .nav.navbar-nav li a {
    font-size: 22px;
  }
}

/* Custom, iPhone Retina */
